// Imports
@import "variables";

// General styles

body {
	margin: 0 auto;
}

.row {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	.column {
		// flex: 50%;

		@media only screen and (max-width: 600px) {
			flex: 100%;
		}
	}
}

.hide {
	display: none;
}

.button {
	font-size: 18px;
	font-family: "Cormorant Garamond", serif;
	color: $white;
	background-color: $black;
	border-radius: 10000px;
	border: none;
	padding: 16px 2px;
	width: 200px;

	&:hover {
		opacity: 75%;
		cursor: pointer;
	}
}

// Type

// @font-face {
// 	font-family: "hello_honey_-_personal_useRg";
// 	src: url("/fonts/hello_honey-webfont.woff2") format("woff2"), url("/fonts/hello_honey-webfont.woff") format("woff");
// 	font-weight: normal;
// 	font-style: normal;
// }

h1 {
	font-family: "Rochester", cursive;
	font-size: 90px;
	color: $white;
	text-align: center;
}

h2 {
	font-family: "Rochester", cursive;
	font-size: 48px;
}

h3 {
	font-family: "Cormorant Garamond", serif;
	font-size: 24px;
	line-height: 12px;
}

p {
	color: $black;
}

// Nav

.links {
	width: 100%;
	text-align: right;
	position: fixed;
	z-index: 10000;
	background-color: $white;
	padding: 16px 8px;

	a {
		text-decoration: none;
		font-family: "Cormorant Garamond", serif;
		font-size: 18px;
		font-weight: 700;
		color: $black;
		padding: 16px 8px;

		&:hover {
			opacity: 75%;
		}

		&:last-child {
			padding-right: 40px;
		}
	}

	@media only screen and (max-width: 731px) {
		text-align: center;
	}
}

// Parallax

main {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
}

section {
	transform-style: preserve-3d;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 100vh;

	@media only screen and (max-width: 466px) {
		height: auto;
	}

}

.no-parallax {
	z-index: 999;
	background-color: $white;

}

section h1 h2 {
	text-align: center;
	font-size: 3rem;
}
h1 .parallax h1 h2 {
	width: 60%;
	font-size: 2rem;
}

.parallax::after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateZ(-1px) scale(1.5);
	background-size: 100%;
	z-index: -1;
}

.bg::after {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/county-line.jpg");
	background-size: cover;
	background-position: center;
}

.bg2::after {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/chicago.jpg");
	background-size: cover;
	background-position: center;
}

// Hero

// .hero {
// 	// background-color: $blush;
// 	background-image: url("../images/chicago.jpg");
// 	background-size: cover;
// }

// Story

.story {
	padding: 0 24px 24px;
	background-image: linear-gradient(to bottom, $blush, #DFBEB6);

	.column {
		flex: initial;
	}

	.story-circles {
		text-align: center;
		justify-content: center;

		.circle {
			display: inline-block;
			margin: 0 24px;

			p {
				max-width: 150px;
			}

			.story-image {
				margin: 0 auto;
				background-color: $white;
				border-radius: 10000px;
				width: 150px;
				height: 150px;

				img {
					width: 150px;
					height: 150px;
					border-radius: 100%;

					// &.austin {
					// 	width: 184px;
					// 	height: 184px;
					// 	padding-top: 8px;
					// }
				}
			}
		}
	}
}

// Wedding

.wedding {
	// background-color: $blue;
	padding: 40px 24px;

	.row {
		@media only screen and (min-width: 1024px) {
			width: 80%;
		}
	}

	a {
		color: $white;
	}

	.wedding-illustration {
		img {
			width: 400px;
		}
	}

	h2,
	p {
		color: $white;

		@media only screen and (max-width: 731px) {
			text-align: center;
		}
	}
}

// rsvp

.rsvp {
	background-image: linear-gradient(to bottom, #D6AD6F, $mustard);
	text-align: center;

	@media only screen and (max-width: 414px) {
		padding-bottom: 40px;
	}
}

// Modal

@keyframes lightbox-fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 100%;
	}
}

#rsvpOpened {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: 0 auto;
	background-color: $white;
	z-index: 100;
	animation-name: lightbox-fade-in;
	animation-duration: 0.25s;
	animation-timing-function: ease-in-out;
}

.lightbox_content {
	overflow: scroll;
	width: 100%;
	height: 100%;
	background: $white;

	.rsvp-content {
		h3,
		p {
			padding: 10px 24px;
		}
	}
}

.close {
	font-size: 2rem;
	color: $black;
	margin: 24px 24px 0;
	display: block;
	text-align: right;
	width: 24px;
	float: right;

	&:hover {
		cursor: pointer;
	}
}

// CSS animation

.heart-button {
	background: none;
	border: none;
	position: relative;
	width: 8rem;
	height: 3rem;
	&:hover {
		.content {
			color: $mustard;
			font-size: 12px;
			top: -16px;
		}
		.left {
			border-top-left-radius: 1.5rem;
			border-bottom-left-radius: 1.5rem;
			border-top-right-radius: 0.5rem;
			transform: rotate(45deg);
			top: 0.75rem;
			left: 0.5rem;
		}
		.right {
			border-top-right-radius: 1.5rem;
			border-bottom-right-radius: 1.5rem;
			border-top-left-radius: 0.5rem;
			transform: rotate(-45deg);
			top: 0.75rem;
			right: 0.5rem;
		}
	}
}

.left,
.right,
.content {
	transition: 0.25s ease-in-out all;
	cursor: pointer;
}

.left {
	background: $black;
	position: absolute;
	left: 0;
	right: 50%;
	top: 0;
	bottom: 0;
	z-index: 50;
	transform-origin: bottom right;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.right {
	background: $black;
	position: absolute;
	right: 0;
	left: 50%;
	top: 0;
	bottom: 0;
	z-index: 50;
	transform-origin: bottom left;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.content {
	font-size: 16px;
	color: $white;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
